@charset "utf-8";
body{
    font-family: 'Gotham Pro', sans-serif;
    font-family: 'Gotham', sans-serif;
    font-family: 'Gotham pro Regular', sans-serif;
    margin:0px;
    padding:0px;
	background: transparent linear-gradient(180deg, #f0f4f7 0%, #f7f9fb 100%) 0% 0% no-repeat padding-box;
}

 
html {
    height: 100%;
}
body {
    min-height: 100%;
    overflow-x: hidden;
}
*{
    margin:0px;
    padding:0px;}
a:hover{
    text-decoration:none!important;}
	
    @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}
/*  Navbar css--*/
.verify-head .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     color: #000 !important;
	 font-weight: 400;
	 font-size:18px;
}
.verify-head .navbar-light .navbar-nav .nav-link {
    color: #000 !important;
	font-size:18px;
	font-weight: 400;
}
.dropdown-menu {
    position: absolute;
    top: 128%;
    left: -46px; 
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    right: -29px !important;
	box-shadow: 0px 6px 6px rgb(0 0 0 / 16%);
    border-radius: 4px;
    padding: 20px;
    height: 180px !important;
}
.main-head .bg-light {
    background-color: #ffffff !important;
}

@media (min-width: 992px){
.verify-head .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 60px;
    padding-left: 0px;
}
.verify-head .navbar-light .navbar-nav .nav-link {
    color: #000 !important;
    font-size: 18px;
    font-weight: 400;
}


.verify-head .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 0rem !important;
}
}
.verify-head .bg-light {
    background-color: #fff !important;
}
.verify-head{
	 background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
border-radius: 4px;
	  padding: 0px 30px;
}
.verify-head .btn-secondary {
    color: #fff;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
.verify-head .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
   width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.verify-head .dropdown-toggle::after {
    display: none !important;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.verify-head .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}
.verify-head .dropdown-item:hover {
    background-color: e6efee;
	color:#000;
}
.verify-head .navbar-toggler span i{
	color:#fff;
}
@media (min-width: 992px){
.verify-head .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
}
}
.verify-head .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #129A98 !important;
    mix-blend-mode: normal;
    margin-bottom: -11px;
    border-bottom: 3px solid #129A98;
    transition: 2s all ease-in-out;
}
.verify-head .navbar-light .navbar-nav p svg{
    stroke: #181818;
    stroke-width: 0.2;
    fill: #181818;
}
.verify-head .navbar-light .navbar-nav  p svg.ul_con{
    stroke: #181818;
    stroke-width: 0.2;
    fill: none;
}
.verify-head .navbar-light .navbar-nav .nav-item.active p svg.ul_con{
    stroke: #129A98;
    stroke-width: 0.2;
    fill: none;
}
.verify-head .navbar-light .navbar-nav .nav-item.active p svg{
    stroke: #129A98;
    stroke-width: 0.2;
    fill: #129A98;
}




.verify-head .navbar-light .navbar-nav .nav-link {
    font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
text-align: center;
text-transform: uppercase;
color: #181818 !important;
border-bottom: 3px solid transparent;
/*padding-bottom: 17px;*/
margin-bottom: -11px;
transition: 0.5s;
}
.verify-head .navbar-light .navbar-nav .nav-link:hover{
  border-bottom: 3px solid #129A98;
}
.verify-head .navbar-light .navbar-nav .nav-link.active{
  border-bottom: 3px solid #129A98;
  font-family: 'Gotham Thin', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 11px;
text-align: center;
text-transform: uppercase;
color: #129A98 !important;
mix-blend-mode: normal;
}
.verify-head .navbar-light .navbar-nav .nav-link p {
    margin: 2px 0px 10px;
}

.verify-head .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
	padding:10px;
	border-radius:4px;
	background:#129A98;
    box-shadow: 0px 3px 6px #0000001a;

}
.verify-head .navbar-light .navbar-nav .nav-link p span.tag2 {
    position: absolute;
    top: 0px;
    /* padding-left: 5px; */
    border-radius: 50%;
    padding: -4px 0px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0px;
    color: #f8f9fa;
    text-transform: uppercase;
    background: #E22030;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: -6px;
    margin-top: 10px;
    /* padding: 4px 0px; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    display: inline-block;
}
.verify-head .navbar-light .navbar-nav .nav-link span.hot {
    background-color: #E22030;
    text-align: center;
}
.verify-head .btn2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.verify-head .btn-secondary2 {
    color: #fff;
     background-color: transparent !important; 
     border-color: transparent !important; 
}
.verify-head .btn-secondary2 img {
    object-fit: contain;
    width: 44px;
    height: 44px;
}
.verify-head .btn-secondary2:focus {
   outline: none;
}
.verify-head .btn-secondary2 img {
    object-fit: contain;
}
.verify-head .nav-item .dropdown h1 {
    display: inline;
    padding-left: 5px !important;
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
    color: rgba(24, 24, 24, 0.5);

}
.verify-head .nav-item .dropdown h2 {
    display: block;
    padding-left: 55px !important;
	margin-top: -18px;
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
    color: #747474;

}
.verify-head .nav-item .dropdown h2 span {
    display: block;
    padding-left: 86px !important;
	margin-top: -14px;
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
    color: #02B033;

}
.dropdown .dropdown-menu .drop-media {
    display: flex;
    align-items: center;
}

.verify-head .nav-item .dropdown .dropdown-menu .drop-media h5 {
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #12A4A2;
}
.verify-head .nav-item .dropdown .dropdown-menu .dropdown-item {
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #181818;
padding:15px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #129a98;
    background: #129a98;
}
form.example{

}
form.example input[type=text] {
  padding: 10px 0px 10px 0px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: transparent;
  font-family: 'Gotham pro', sans-serif;
  font-style: normal;
  font-weight: 400;
}
form.example input[type=text]::placeholder{ font-size: 16px;
line-height: 15px;
color: rgba(24, 24, 24, 0.5);
 }
 form.example button {
    float: left;
    width: 20%;
    padding: 10px 0px 10px 0px;
    background: transparent;
    color: #12A4A2;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
  background: transparent;
}
form.example input[type=text]:focus {
    border: none !important;
    outline: none !important;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 992px){
    .verify-head .navbar-light .navbar-nav .nav-link p span.tag2 {
        position: absolute;
        top: 325px; 
        padding-left: 5px;
        border-radius: 50%;
        padding: 0px 0px;
        color: #fff;
        font-size: 10px;
        text-align: center;
        letter-spacing: 0px;
        color: #f8f9fa;
        text-transform: uppercase;
        background: #E22030;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-left: -6px;
        margin-top: 10px;
    }
    .verify-head .navbar-light .navbar-nav .nav-link {
        font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
        color: #181818 !important;
        border-bottom: 3px solid transparent;
        padding-bottom: 17px;
        margin-bottom: 0; 
        transition: 0.5s;
    }
    .verify-head {
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgb(89 120 150 / 6%);
        border-radius: 4px;
        padding: 0px 0px;
    }
}
.result-sec .collab-media {
  margin-top: 0;
  padding: 25px 20px;
box-sizing: border-box;
border-radius: 10px;
 margin: 0px 5px 20px 5px;
background: #FFFFFF;
box-shadow: 0px 3px 6px #0000001A;
border-radius: 5px;
}

.result-sec .media-result {
  display: flex;

}
.result-sec .media-result-body {
  margin-top: 9px;
}
  .result-sec .media-image img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
  }

@media (min-width: 480px) {
  .result-sec .media-image {
    margin-right: 1em;
  }
  
  .result-sec .media-result-body {
    overflow: auto;
  }
  
  }
 
.result-sec{
    margin: 40px 20px;
    height: 100%;
    min-height: 100vh;
}
.button-list{
	background: #FFFFFF;
	border: 1px solid #707070;
	border-radius: 5px;
    color: #707070;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
	float:right;
	width: 100px;
    height: 39px
}

.list-head{
	display:flex;
}
.media-result-body .list-head-title h4{
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
color: #181818;
margin-bottom: 2px;

}
.media-result-body .list-head-title span{
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 400;
font-size: 12px;
color: #181818;
margin:0px;
}
.media-result-body p{
text-align: left;
letter-spacing: 0px;
color: #666666;
font-size:17px;
line-height:28px;
font-weight:normal;
max-width: 700px;
margin:0px;
}
.list-item {
    display: flex;
	background: #FFFFFF;
   border-radius: 5px;
    padding: 20px 0px 0px 0px;
	justify-content:space-between;
}
 
 .list-item-box .list-pay{
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #181818;
padding-right: 50px;
vertical-align: middle;

 }
 .list-item-box .list-ch{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    padding-right: 50px;
    vertical-align: middle;
    
     }
 .list-item-box{
	 display:flex;
	 justify-content:space-between;
	 align-items:center;
 }
 list-item-box .list-ch{
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #181818;
 }
 
.list_mp {
   font-family: 'Gotham Pro', sans-serif;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #181818;
margin-right: 29px;
}
.list_mp img{
padding-right:5px;

color: #12A4A2;
}
.list-pay img {
    padding-right: 5px;
}
.list-ch img {
    padding-right: 5px;
}
.media-result img{
	width:100%;
}
.collab-media p{
width: 790px;
height: auto;
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
padding-top:10px;
line-height: 150%;
background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 139.68%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
width:100%;
}
.button-read{
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #12A4A2;
}
.collab-media-top{
	display:flex;
	justify-content:space-between;
}
.collab-media-top h4{
font-family: 'Gotham Light', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
color: #12A4A2;

}

.collab-media-top h4 span{
    font-family: 'Gotham Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
line-height: 150%;
color: #181818;
}
.collab-media-top-image {
    margin-right: 26px;
}
.collab-media p.cl-pro{
font-family: 'Gotham Light', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #181818;
padding:10px 0px;
background: #181818;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-spacing: -1px;
}
.collab-media p.cl-pro span{
    font-family: 'Gotham Light', sans-serif;
    font-style: normal;
    font-weight: 500;
font-size: 14px;
color: #12A4A2;
background: #12A4A2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.collab-media h4.cl-dift{
	font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #181818;
margin: 0px;
padding-top: 10px;
}
.collab-media span.hp{
    font-family: 'Gotham Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    padding-bottom: 25px;
    color: #181818;
    
    }
.collab-media span{
    font-family: 'Gotham Light', sans-serif;
    font-style: normal;
    font-weight: 400;
font-size: 14.5px;
line-height: 150%;
color: #181818;
}
.post-sec .form-control {
    background: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 5px;
    height: 40px;
    transition: all 0.3s ease 0s;
	font-size: 15px;
    font-family: 'Gotham pro', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.post-sec .form-control::placeholder{ color: rgba(24, 24, 24, 0.2); }
.post-sec .form-control:focus{
    box-shadow: none;
	background: transparent;
    border: 1px solid #c1c1c1;
	padding:5px;
}
.post-sec img {
    padding: 4px;
    transition: all 0.5s ease 0s;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.post-sec .form-group {
    margin-bottom: 0;
    display: flex;
}
.post-sec i.icofont-location-arrow {
	background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
	margin-left: 10px;
	color:#fff;
}
.post-sec h3{
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #181818;
	padding-bottom:50px;

}
.post-sec{
	background: #FFFFFF;
    border-radius: 4px;
	box-shadow: 0px 3px 6px #0000001a;
	margin-bottom: 20px;
    padding: 20px;

}
.media-pro .card .card-mid-image img {
    width: 94px;
    height: 94px;
    
    }
    .card-mid-image {
        position: absolute;
        top: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transform: translate(80%, 4%);
        background: url(.jpg), #f8f9fa;
        border-radius: 50%;
        padding: 8px;
    }
    .media-pro .card .card-body h2{
        font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #181818;
        margin-top: 50px;
       text-align: center;
    }
    .media-pro .card .card-body p{
        font-family: 'Gotham pr', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 150%;
        text-align: center;
        color: #181818;

    }
    .media-pro .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: none;
        border-radius: 4px;
    }
    .button-pro{
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    border: 1px solid #12A4A2 ;
    border-radius:5px;
    color: #ffffff;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    text-align:center;
    width: 230px;
    height: 32px;
    top: 440px;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    margin-left: 30px;
    text-transform: uppercase;
    margin-top: 20px;

}
.button-pro i.icofont-plus {
    padding-right: 5px;
}
.create-button{
    margin-top: 60px;
    height: 60px;
    width: 290px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 4px;
}
.trend-article {
    width: 290px;
    height: auto;
    background: #FCFDFD;
    border-radius: 4px;
    padding: 0px 20px;
}
.trend-article .media {
    margin-bottom: 20px;
}
.trend-article .media-body {
    padding: 5px 15px;
}
.trend-article .media-body h5 {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;    
    color: #181818;
    

}
.trend-article .media-body h4 {
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 125%;
color: #181818;
margin-bottom: 7px;
}
.trend-article .media img {
    padding-top: 5px;
    object-fit: cover;
    width: 80px;
    height: 58px;
    background: url(.jpg);
    border-radius: 2px;
}
.trend-article h3.title {
    font-family: 'Gotham Pro', sans-serif;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #181818;
margin-top: 60px;
margin-bottom: 60px;
padding: 20px 0px 0px 0px;

}
.group-article {
    width: 290px;
    height: auto;
    background: #FCFDFD;
    border-radius: 4px;
    padding: 0px 20px;
}
.group-article .media {
    margin-bottom: 20px;
}
.group-article .media-body {
    padding: 5px 61px 0px 19px;
}
.group-article .media-body h5 {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;    
    color: #181818;
    

}
.group-article .media-body h4 {
font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 125%;
color: #181818;
}
.group-article .media img {
    padding-top: 5px;
    width: 52px;
height: 52px;
background: url(.jpg), #2E2E62;
border-radius: 27px;
object-fit: cover;
}
.group-article h3.title {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    margin-top: 40px;
    margin-bottom: 40px;
}
.group-article h3.text {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #12A4A2;
    margin-top: 40px;
    margin-bottom: 40px;
}
.group-article {
    padding-left: 20px;
}
.show-article a{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #12A4A2;
    padding: 20px;
    
}
/*foter css---*/
.topnav {
    overflow: hidden;
    background-color: #136371;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 43px 0px 43px;
  text-decoration: none;
  font-family: 'Gotham Light';
font-style: normal;
font-weight: 400;
font-size: 13px;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color: #136371;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media (max-width: 991.98px) {
    .topnav {
        overflow: hidden;
        background-color: #136371;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
    }
}
.wrap-drop {
    background:transparent;
    cursor:pointer;
    position:relative;
    z-index:3;
    }
    
    .wrap-drop::after {
        content: "\eac8";
        height: 0;
        position: absolute;
        top: -25%;
        width: 0;
        font-family: 'icofont';
        left: 75px;
        font-size: 20px;
        color: #f2f2f2;
    }
    
    .wrap-drop .drop {
        background: #f8f9fa;
        display: none;
        list-style: none;
        margin-top: 0;
        opacity: 0;
        padding-left: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        z-index: 2;
        width: 150px;
    }
    
    .wrap-drop .drop li  {
    color:#181818;
    display:block;
    text-decoration:none;
    padding: 10px 10px;
    width: 100%;
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    }
    
    .wrap-drop span {
        font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
        line-height: 11px;
        color: #f2f2f2;
    }
    
    .wrap-drop .drop li :hover  {
    background-color:#12A4A2;
    color:#e7ded5;
    padding: 10px 10px;
    }
    
    .wrap-drop.active::after {
    border-width:0 10px 10px;
    }
    
    .wrap-drop.active .drop {
    display:block;
    opacity:1;
    pointer-events:auto;
    }
    /*--Event css---*/
    /*ul.form {
		position:relative;
		background:#fff;
		list-style: none;
		overflow:hidden;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
	}

	.form li a {
		width:225px;
		padding-left:20px;
		height:60px;
		line-height:50px;
		display:block;
		overflow:hidden;
		position:relative;
		text-decoration:none;
		text-transform:uppercase;
        font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #181818;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;	
        	
	}

	.form li a:hover {
		background:#efefef;
	}
	.form li:first-child a:hover, .form li:first-child a {
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
	}
	.form li:last-child a:hover, .form li:last-child a {
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}

	.form li a:hover i {
		color:#ea4f35;
	}

	.form img{
		margin-right:15px;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;	
        width: 10px;
        height: 10px;
        
	}

	.form em {
		font-size: 10px;
		background: #ea4f35;
		padding: 3px 5px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;		
		font-style: normal;
		color: #fff;
		margin-top: 17px;
		margin-right: 15px;
		line-height: 10px;
		height: 10px;		
		float:right;
	}

	.form li.selected a {
		background:#fff;
	}
    .form li.selected a:before {
        border-left: 10px solid #12A4A2;
        content: " ";
        width: 10px;
        height: 51px;
        background: #12A4A2;
    }*/
    .user-left-side ul{
        padding: 0;
        margin: 0;
        list-style: none;
        width: 280px;
        padding: 0px 10px 0px 0px;
        background: #fff;
        border-radius: 4px;
}

  
    .user-left-side ul li {
        display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid #F4F4F4;
        transition: all .2s ease-in-out;
    }
    .user-left-side ul li:hover {
        display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid #F4F4F4;
        transform: scale(1.02);
    }
    .user-left-side ul li:last-child{
        border-bottom:none;
    }
    .mobile-view ul li:last-child{
        border-bottom: none;
    }
    .user-left-side ul li a{
        text-align: left;
        color: #181818;
        font-family: 'Gotham Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        text-decoration: none;
        padding: 12px 10px;
        padding-left: 20px;
        border-radius: 0px;
        font-weight: 500;
        transition: 0.4s ease;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 10px solid transparent;
    }
    .user-left-side ul li a span, .user-left-side ul li a {
    display: flex;
    font-size: 16px;
    line-height: 35px;
    color: #181818;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    }
    
    .user-left-side ul li.active a{
        border-color: #12A4A2;
    }
    .user-left-side ul li.active> a {
        background: #fff;
        /* opacity: 0.6; */
        color: rgb;
        color: rgba(125, 125, 125, 2.6);
        /* color: #7d7d7d !important; */
    }
    .user-left-side ul li.active a {
        background: #fff;
        opacity: 1;
    }
    .user-left-side ul li.active span {
        color: #f59403;
        opacity: 1;

    }
    .user-left-side ul li.active span.online {
        background: #f59403;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #f59403;
        margin-left: -79px;

    }
    .user-left-side ul li.active span.outline {
        background: #f59403;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #f59403;
        margin-left: -32px;
    }
    .user-left-side ul li.active a img{
        color:#12A4A2;
        width: 10px;
        height: 10px;
    }
    .user-left-side ul li a img{
        position: relative;
        width: 10px;
        height: 10px;
    }
    .user-left-side ul li a:hover{
        border-color: #12A4A2;
        background: #fff;
    }
    .user-left-side ul li a:hover img{
        color:#12A4A2;
    }
    .user-left-side ul li a img{
        margin-right: 10px;
        font-size: 14px;
    }
    .user-left-side.toggled .side-bar-menu a {font-size: 0;text-align: center;}
    .user-left-side.toggled .side-bar-menu a img {float: none;}
    .user-left-side.toggled ul li a {font-size: 0;text-align: center;}
    /*--blog css---*/
.media-body p{
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    padding-top: 15px;
}
.media-body h4 a{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
   color: #181818;
    text-align: left;
    padding-top: 15px;
    transition: 1s all;
}
.media-body h4 a:hover{
    color:  #12A4A2;
}
.media-body h5{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #E22030;
    margin: 0px;
}
.media-body span{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    margin: 0px;
}
.media-body p{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    margin: 0px;
}
.media-body p a{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color:#12A4A2;;
    margin: 0px;
}
.event .media-body {
    padding: 5px 40px;
}
.event .media{
	margin-bottom:30px;
}
.event .media{
    display: flex;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
    padding-right: 20px;
}
.event .media img{
    width: 303px;
    height: 207px;
}
.button-reg{
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    border: 1px solid #12A4A2 ;
    border-radius:5px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    text-align:center;
    bottom: 0;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 149px;

}
.button-reg:hover{
    background: #136371;
    color: #fff;
}
/*--- modal css---*/
.form-horizontal{
    width: 100%;
}
.form-horizontal .form-group{ margin: 0 0 15px; }
.form-horizontal label{ 
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #181818;
    margin-bottom: 5px;
    
 }
 .form-horizontal label span{ 
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color:#E22030; 
    margin-bottom: 5px;
    
 }
.form-horizontal .form-control{
    background: #FFFFFF;
    border: 1px solid rgba(24, 24, 24, 0.5);
    border-radius: 4px;
    transition: all 0.3s;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
    color: #181818;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(24, 24, 24, 0.5);
}
.form-horizontal .form-control::placeholder{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
    color: #181818;
}
.form-horizontal .forgot-password a{
    color: #333;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s;
}
.form-horizontal .btn{
    color: #fff;
    padding: 5px 20px;
    margin: 20px 0 15px 0;
    border: none;
    display: inline-block;
    transition: all 0.3s;
    width: 226px;
    height: 43px;
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    float: right;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.form-horizontal .btn:hover{
    background-color: #000;
    box-shadow: 2px 2px 5px #333;
}
.form-horizontal .signup{
    color: #606060;
    font-size: 14px;
    text-align: center;
    display: block;
}
.form-horizontal .signup a{
    color: 0097e6;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
}
.form-horizontal .signup a:hover{ color: #000; }
.innerpage_modal .modal-header .modal-title {
    font-family: 'Gotham Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #181818;

}
.innerpage_modal .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 1;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border: none !important;
}
.innerpage_modal .modal-header .close:focus {
    outline: none;
}
.innerpage_modal .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.event .media img.m_details{
    width: 626px;
    height: 424px;

}
.media-body p.m_cont{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    margin: 0px;
}
.button-reg-det{
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    border: 1px solid #12A4A2 ;
    border-radius:5px;
    color: #ffffff;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    text-align:center;
    bottom: 0;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 226px;
    height: 43px;
    float: right;
}
.button-reg-det:hover{
    color: #fff;
}
/*---My Network css---*/
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.network-part .nav-tabs{
    border-bottom: none;
    position: relative;
}
.network-part .nav-tabs li{
    margin-bottom: 0;
}
.network-part .nav-tabs li a{
    display: flex;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    margin-right: 1px;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    width: 240px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.network-part .nav-tabs li.active a,
.network-part .nav-tabs li a:hover{
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    color: #181818;
    border: none;
    width: 240px;
    height: 50px;
}

.network-part .tab-content{
    padding: 50px 20px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    color: #181818;
    line-height: 30px;
    background: #f4f7fa;
}

@media only screen and (max-width: 479px){
    .network-part .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .network-part .nav-tabs li:last-child{
        margin-bottom: 0;
    }
}
.network-part.maidash_tab .nav-tabs .nav-item.show .nav-link, .network-part .nav-tabs .nav-link{
    display: flex;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    margin-right: 1px;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    width: 240px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.network-part.maidash_tab .nav-tabs .nav-item.show .nav-link, .network-part .nav-tabs .nav-link.active {
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    color: #fff;
    border: none;
    width: 240px;
    height: 50px;
}
.network-part .nav-tabs{
    content: "";
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
    position: absolute;
    top: 0;
    left: 29px;
    transition: all 0.3s ease 0s;
}
.left-title {
    width: 265px;
    margin: -8px auto;
    background: #f4f7fa;
  }
  .network-left {
    border-top: 1px solid #E7E7E7;
    margin: 50px auto 0px;
    width: 900px;
}
.left-title h3{
    margin: auto; 
    display: flex;
    justify-content: center;
    padding-top: -60px;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}
.left-title h3 span{
    color: #12A4A2;

}
.net-request .media-body {
    display: flex;
}
.net-request .media{
	margin-bottom:30px;
}
.net-request .media{
    margin-top: 50px;
}
.net-request .media img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}
.net-request .media-body .media-body-title h5 {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    margin: 0px;
}
.net-request .media-body-title {
    width: 477px;
}
.net-request .media-body-text {
    padding: 0px 36px 0px 20px;
    margin-top: -16px;
}
.net-request .media-body-title {
    border-right: 3px solid #12A4A2;
    padding: 0px;
    line-height: 5px;
}
.net-request .media-body-title.mp {
    border-right: none;
    padding: 0px;
    line-height: 5px;
}
.net-request .media-body .media-body-title h4 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #181818;
    margin: 5px 0px;
}
.net-request .media-body .media-body-title span {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #12A4A2;
    margin: 0px;
}
form.boxed {
    margin-top: 60px;
}
.boxed label {
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    width: 91px;
    height: 32px;
    background: transparent;
    border-radius: 4px;
    transition: all 0.3s;
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #B7B7B7;

  }
  
  .boxed input[type="radio"] {
    display: none;
  }
  
  .boxed input[type="radio"]:checked + label {
    width: 91px;
    height: 32px;
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
  }
  
.recent-connect.media{
	margin-bottom:30px;
}
.recent-connect .media{
    margin-top: 50px;
    background: #FFFFFF;
    border-radius: 4px;
    width: 420px;
    height: 95px;
    padding: 20px;
}
.recent-connect .media img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}
.recent-connect .media-body .media-body-title h5 {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    margin: 0px;
}

.recent-connect .media-body-text {
    margin-top: -16px;
    display: flex;
    justify-content: flex-end;
}

.recent-connect .media-body .media-body-title h4 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #181818;
    margin: 5px 0px;
}
.network-cont{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    margin: 20px 0px;

}
.form-login-bg .form-horizontal{
    background-color: #fff;
    text-align: center;
    padding: 30px 30px 30px;
    margin: 70px 0 0;
    border-radius: 4px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-29%, 20%);

}
.form-login-bg .form-horizontal .form-top a span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #181818;
    padding-left: 7px;

}
.form-login-bg .form-horizontal .form-title h2{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #181818;
    text-align: left;
    margin-top: 30px;

}

.form-login-bg .form-horizontal .form-group{
     margin: 0 0 20px;
     text-align: left;
     }
.form-login-bg .form-horizontal label{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #181818;
    margin-bottom: 5px;
}
.form-login-bg .form-horizontal .form-control{
    color: #181818;
    font-size: 16px;
    height: 35px;
    padding: 10px 8px 10px 5px;
    border-radius: 5px;
}
.form-login-bg .form-control::placeholder{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
    color: #181818;
     }
.form-login-bg .form-horizontal .form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(24, 24, 24, 0.5);
}
.form-login-bg .form-horizontal .btn{
    color: #fff;
    padding: 5px 20px;
    margin: 20px 0 15px 0;
    border: none;
    display: inline-block;
    transition: all 0.3s;
    width: 175px;
    height: 43px;
    background: linear-gradient(180deg, #12A4A2 0%, #0B7E7D 100%);
    border-radius: 4px;
    float: right;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.form-login-bg .form-horizontal .btn:hover{ color: #fff; }
.form-login-bg {
    background:url(../images/bg.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100%;
}
.form-login-bg:before {
    content: "";
    background: rgba(19, 99, 113, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.form-login-bg label span {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #E22030;
    margin-bottom: 5px;
}

  
  
    

	